<h1>About GroceryAdvance</h1>
<p>
GroceryAdvance is a technology company dedicated to solving a set of problems
for both grocery purchasers (the consumers) and the retailers who sell them
products.
</p>
<p>
For grocery shoppers, we offer the GroceryGenie smartphone application and 
web application.
</p>
<p>
For retailers, we offer the <a href='http://grocerwords.heroku.com' target='blank'>
GrocerWords</a>, a platform for advertising available specials to GroceryGenie users.
</p>
